
body { 
    background: #121212 !important; 
    
}
body h1 {
    color: aliceblue;
    
}
.card { 
    
   
}
.circle {
    width: 700px;
    height: 700px;
    background: radial-gradient(#1db954fd, #1DB954);
    border-radius: 100%;
    position: absolute;
    animation: move-up6 10s ease-in infinite alternate-reverse;
  }



.circle:nth-child(1) {
    top: 50px;
    left: 50px;
  }
  
  .circle:nth-child(2) {
    bottom: 50px;
    right: 50px;
    animation-name: move-down1;
  }
  
  @keyframes move-up6 {
    to {
      
      opacity: 100%; 
      transform: translateY(-200px);
    }
  }
  
  @keyframes move-down1 {
    to {
      transform: skewx(1deg) translatex(-150px);
    }
  }

